
.row {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
}


.col-2,
.col-10 {
    position: relative;
    width: 100%;
    margin-right: .5%;
    margin-left: .5%;
}


.col-2 {
    max-width: 16%;
}


.col-10 {
    max-width: 80%;
}

